body
{
    font-family: 'Segoe UI';
}

svg {
    border: 1px solid lightgray;        
}

.area {
    fill: darkgray;
}

.legend-indicator-2 {
    fill:green;
}

.bnl-legend-item-label {
    font-size: 10pt;
}